name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake build-essential pkg-config libarchive-dev libssl-dev

      - name: Configure
        run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DVMS_TOOLS_WARNINGS_AS_ERRORS=ON

      - name: Build
        run: cmake --build build --config Release --parallel

      - name: Smoke test
        run: ./build/bin/sha_from_tar -C .

  build-deb:
      runs-on: ubuntu-latest
      needs: build
      if: startsWith(github.ref, 'refs/tags/')

      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Install debian packaging tools
          run: |
            sudo apt-get update
            sudo apt-get install -y \
              build-essential \
              pkg-config \
              libarchive-dev \
              libssl-dev \
              devscripts \
              debhelper \
              cmake

        - name: Build .deb package
          run: |
            # Se usi dpkg-buildpackage:
            dpkg-buildpackage -us -uc

        - name: Upload .deb artifact
          uses: actions/upload-artifact@v4
          with:
            name: debian-packages
            path: ../*.deb